{{ template "head.tmpl" .}}
<form action="/register" method="post">
	<input type="text" name="username" placeholder="Kullanıcı Adı" required>
	<input type="password" name="password" placeholder="Şifre" required>
	<input type="submit" value="Kayıt Ol">
</form>